.search{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  
  &__left img{
    cursor: pointer;
  }

  &__main{
    margin-left: 3rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;

    &__form{
      display: flex;
      margin-bottom: 0.5rem;
    }

    &__order-by{
      display: flex;
      justify-content: flex-end;
      margin: 1rem;
      font-weight: 700;
      font-size: 1.25rem;
      cursor: pointer;

      span{
        margin-right: 0.25rem;
      }
    }
  }
}